body
{
    background-image: url(Back2.jpg) ;
    background-position: center;
    background-size: cover;
    margin: auto;
    width: 1800px;

    
}

.transparent{
    background-color: rgba(255, 255, 255, 0.4);
   }



.fleft
{
    float:left;
}
.fright
{
    float: right;
}
.flefthaut
{
    float:left;
    position: relative;
    bottom: 20px;
}
.leg
{
    clear:left;
}
.carte
{
    float:left;
}
.billet
{
    font-family: 'Poppins', Arial;
    font-size: 50px;
    color: #140d3d;
    display:block;
    text-align: center;
}

.context
{
    font-size: 30px;
    color: 00000;
    text-align: justify;
    display:block;

}

p.FontText
{
    font-family: 'Poppins', "Arial";
    font-size: 20px;
    letter-spacing: 5px;
    color: 00000;
    text-align: justify;
    display:block;
    position:relative;
    left:50px;
    float: left;

}
p.FontText2
{
    font-family: 'Poppins', "Arial";
    font-size: 20px;
    letter-spacing: 5px;
    color: 00000;
    text-align: justify;
    display:block;
    float: left;

}
h1.Headings
{
    font-family: 'Poppins';
    font-size: 60px;
    color: #140d3d;
    display:block;
   
 
}
.proch
{
    font-family: 'Walburn';
    font-size: 35px;
    letter-spacing: 10px;
    color: #349fa6 ;
    text-align: center;
    clear:left;
}
.date
{
    font-family: 'Poppins', Arial;
    font-size: 70px;
    color: #140d3d;
    display:block;
    text-align: center;
}
h1.SubHeadings
{
    font-family: 'Walburn';
    font-size: 35px;
    letter-spacing: 10px;
    color: #349fa6 ;
    text-align: center;
    clear:left;
    background-color: rgba(255, 255, 255, 0.4);

}



